= image_tag @article.image.url(:medium)
%h2= @article.title
%p=  @article.content
%p=  @article.link
%hr/

#comments
  %h2= pluralize(@article.comments.count, "Comment")
  - @comments.each do |comment|
    %p= comment.body
    %p= comment.user.name

  %h3 Reply to thread
  = render "comments/form"


%hr/
= link_to "Edit", edit_article_path(@article)
|
= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }
|
= link_to "Home", root_path