!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stickers
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert

    - if signed_in?
      %P welcome #{current_user.name}
    - else
      %P welcome Guest!

    = yield
